<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Devtools/style.css">
    <title>Hub Devtools</title>
</head>

<body>
    <div id="content">
        <h1>Devtools</h1>
        <div>
            <h3>The following devtools are available:</h3>
            <a href="/devtools/agentMonitor">Agent Monitor</a>
        </div>
    </div>
</body>

</html>